* {
    font-family: monospace;
}

body, label {
    text-align: center;
}

fieldset {
    padding-left: 35px;
    padding-right: 35px;
    border-bottom: none;
}

legend {
    font-size: 30px;
}

button:hover, .checkbox:hover {
    cursor: pointer;
}

input, textarea {
    padding-left: 3px;
}

p {
    margin-top: -10px;
    font-size: 10px;
}

h3 {
    margin-top: -7px !important;
    margin-bottom: -10px !important;
}

svg {
    margin-top: 7px;
    transition: 1s all ease-in;
}

#blueLeft, #greyLeft, #hexCollection, #y, #ry, #y2, #svgy, .strokeCheckboxDiv {
    margin-right: 19px;
}

#submitColour, #submitGrey {
    margin-right: 20px;
}

fieldset, #hexButtonContainer, #sizeConfiguration, #polygonConfiguration, .checkboxDiv, #copySvgDiv {
    display: inline-block;
}

.checkboxDiv {
    border: 1px solid darkgrey;
    transform: translateY(2px);
}

.checkboxLabel {
    text-align: left;
    display: inline-block;
    padding-top: 5px;
    transform: translate(3px, -3px);
}

#hexButtonContainer {
    transform: translateY(-1px);
}

#replaceCollection {
    width: 90px;
    transform: translateY(-20px);
}

#sizeConfiguration {
    transform: translateX(1px);
    margin-left: 6px;
    margin-top: -6px;
    height: 44px;
}

#pointCollection {
    margin-top: -25px;
    transform: translateY(34px);
    height: 49px;
    width: 241px;
}

#addToCollection {
    width: 112px;
    transform: translateY(-20px);
}

#hexCollection {
    height: 63px;
}

#hexResult {
    width: 335px;
    margin-top: 7px;
    transform: translateX(1px);
}

#getPoint, .pointAmount, .sizeInput {
    margin-top: 7px;
}

.backgroundCheckboxDiv {
    transform: translate(120px, 2px);
}

.pointAmount {
    transform: translateX(121px);
    width: 139px;
    margin-right: 1px;
}

.colourInput {
    width: 135.5px;
}

.sizeInput {
    width: 100px;
}

.greyInput, #hexCollection, .svgTextarea {
    width: 421px;
}

.hexAmount {
    width: 159px;
    margin-right: -8px;
}

#svgH3 {
    margin-top: -6px !important;
}

.width {
    margin-right: 570px;
}

#size {
    transition: margin-bottom 0.5s ease-out;
    margin-bottom: -175px;
}

.base64 {
    margin-right: 540px;
}

.high {
    margin-right: 437px;
}

.hex {
    margin-right: 570px;
}

#hex {
    margin-bottom: -22px;
}

#sw {
    width: 224px;
}

.fillCheckboxDiv, .strokeCheckboxDiv, .backgroundCheckboxDiv {
    padding: 1px;
    padding-left: 2px;
}

#polygonConfiguration {
    transform: translate(1px, -7px);
    margin-top: -20px;
    height: 42px;
}

#rectCheckbox {
    margin-right: -16px;
    transform: translate(-35px, -15px);
}

#ellipseCheckbox {
    margin-right: -17px;
    transform: translate(-28px, -15px);
}

#lineCheckbox {
    margin-right: -16px;
    transform: translate(-70px, -15px);
}

#circleCheckbox, #polylineCheckbox, #polygonCheckbox {
    margin-right: -2px;
    transform: translate(-6px, -15px);
}

#fillCheckbox, #strokeCheckbox, #backgroundCheckbox {
    margin-right: -2px;
    transform: translateX(-6px);
}

.checkboxDiv1 {
    transform: translate(1px, 2px);
}

.checkboxDiv-1 {
    transform: translate(-1px, 2px);
}

#submitColour, #submitGrey {
    transform: translateX(1px);
}

#openAdvancedSettings {
    width: 421px;
    margin-bottom: 5px;
    transform: translateX(61px);
}

.mainInput, #showbase64, #copybase64, #showhtml, #copyhtml {
    width: 207px;
}

.svgTextarea {
    height: 63px;
}

#svgbase64 {
    margin-right: 20px;
}

#svghtml {
    transform: translateY(-21px);
}

#copybase64 {
    margin-right: 150px;
}
